In [ ]:
#Read yelp tip data
yelp_tip = spark.read\
  .format('csv')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('https://bigdataclasslhn.s3.amazonaws.com/Prj_Yelp/yelp_tip.csv')

In [ ]:
#Start my SparkSession:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("project").getOrCreate()

### Find all your Spark related environment variables, and pyspark:

In [1]:
import findspark
findspark.init()

In [ ]:
##Create your SparkSession. You are only going to create a SparkSession, not a SparkContext.

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("yelp").getOrCreate()

In [3]:
spark

In [4]:
#Read yelp tip data
yelp_business = spark.read\
  .format('csv')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('s3://bigdataclasslhn/Prj_Yelp/yelp_business.csv')

In [5]:
yelp_business.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- stars: double (nullable = true)
 |-- review_count: double (nullable = true)
 |-- is_open: integer (nullable = true)
 |-- attributes.GoodForKids: string (nullable = true)
 |-- attributes.RestaurantsReservations: string (nullable = true)
 |-- attributes.GoodForMeal: string (nullable = true)
 |-- attributes.BusinessParking: string (nullable = true)
 |-- attributes.Caters: string (nullable = true)
 |-- attributes.NoiseLevel: string (nullable = true)
 |-- attributes.RestaurantsTableService: string (nullable = true)
 |-- attributes.RestaurantsTakeOut: string (nullable = true)
 |-- attributes.RestaurantsPriceRange2: string (nullable = true)
 |-- attributes.OutdoorSeating: string (nullable = true)
 |-- attributes.BikeParking: string (nullable = true)
 |-- attributes.Ambience: string (nullable = true)
 |-- attributes.HasTV: string (nullable = true)
 |-- attributes.WiFi: string (nullable = true)
 |-- attributes.Alcohol: string (nullable = true)
 |-- attributes.RestaurantsAttire: string (nullable = true)
 |-- attributes.RestaurantsGoodForGroups: string (nullable = true)
 |-- attributes.RestaurantsDelivery: string (nullable = true)
 |-- attributes.BusinessAcceptsCreditCards: string (nullable = true)
 |-- attributes.BusinessAcceptsBitcoin: string (nullable = true)
 |-- attributes.ByAppointmentOnly: string (nullable = true)
 |-- attributes.AcceptsInsurance: string (nullable = true)
 |-- attributes.Music: string (nullable = true)
 |-- attributes.GoodForDancing: string (nullable = true)
 |-- attributes.CoatCheck: string (nullable = true)
 |-- attributes.HappyHour: string (nullable = true)
 |-- attributes.BestNights: string (nullable = true)
 |-- attributes.WheelchairAccessible: string (nullable = true)
 |-- attributes.DogsAllowed: string (nullable = true)
 |-- attributes.BYOBCorkage: string (nullable = true)
 |-- attributes.DriveThru: string (nullable = true)
 |-- attributes.Smoking: string (nullable = true)
 |-- attributes.AgesAllowed: string (nullable = true)
 |-- attributes.HairSpecializesIn: string (nullable = true)
 |-- attributes.Corkage: string (nullable = true)
 |-- attributes.BYOB: string (nullable = true)
 |-- attributes.DietaryRestrictions: string (nullable = true)
 |-- attributes.Open24Hours: string (nullable = true)
 |-- attributes.RestaurantsCounterService: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- hours.Monday: string (nullable = true)
 |-- hours.Tuesday: string (nullable = true)
 |-- hours.Wednesday: string (nullable = true)
 |-- hours.Thursday: string (nullable = true)
 |-- hours.Friday: string (nullable = true)
 |-- hours.Saturday: string (nullable = true)
 |-- hours.Sunday: string (nullable = true)

In [13]:
yelp_business.show()

+--------------------+--------------------+--------------------+------------------+-----+-----------+--------+----------+-----+------------+-------+----------------------+----------------------------------+----------------------+--------------------------+-----------------+---------------------+----------------------------------+-----------------------------+---------------------------------+-------------------------+----------------------+-------------------+----------------+---------------+------------------+----------------------------+-----------------------------------+------------------------------+-------------------------------------+---------------------------------+----------------------------+---------------------------+------------------+-------------------------+--------------------+--------------------+---------------------+-------------------------------+----------------------+----------------------+--------------------+------------------+----------------------+----------------------------+------------------+--------------------+------------------------------+----------------------+------------------------------------+--------------------+------------------+-------------+---------------+--------------------+----------------+-----------------+----------------+
|         business_id|                name|             address|              city|state|postal_code|latitude| longitude|stars|review_count|is_open|attributes.GoodForKids|attributes.RestaurantsReservations|attributes.GoodForMeal|attributes.BusinessParking|attributes.Caters|attributes.NoiseLevel|attributes.RestaurantsTableService|attributes.RestaurantsTakeOut|attributes.RestaurantsPriceRange2|attributes.OutdoorSeating|attributes.BikeParking|attributes.Ambience|attributes.HasTV|attributes.WiFi|attributes.Alcohol|attributes.RestaurantsAttire|attributes.RestaurantsGoodForGroups|attributes.RestaurantsDelivery|attributes.BusinessAcceptsCreditCards|attributes.BusinessAcceptsBitcoin|attributes.ByAppointmentOnly|attributes.AcceptsInsurance|  attributes.Music|attributes.GoodForDancing|attributes.CoatCheck|attributes.HappyHour|attributes.BestNights|attributes.WheelchairAccessible|attributes.DogsAllowed|attributes.BYOBCorkage|attributes.DriveThru|attributes.Smoking|attributes.AgesAllowed|attributes.HairSpecializesIn|attributes.Corkage|     attributes.BYOB|attributes.DietaryRestrictions|attributes.Open24Hours|attributes.RestaurantsCounterService|          categories|      hours.Monday|hours.Tuesday|hours.Wednesday|      hours.Thursday|    hours.Friday|   hours.Saturday|    hours.Sunday|
+--------------------+--------------------+--------------------+------------------+-----+-----------+--------+----------+-----+------------+-------+----------------------+----------------------------------+----------------------+--------------------------+-----------------+---------------------+----------------------------------+-----------------------------+---------------------------------+-------------------------+----------------------+-------------------+----------------+---------------+------------------+----------------------------+-----------------------------------+------------------------------+-------------------------------------+---------------------------------+----------------------------+---------------------------+------------------+-------------------------+--------------------+--------------------+---------------------+-------------------------------+----------------------+----------------------+--------------------+------------------+----------------------+----------------------------+------------------+--------------------+------------------------------+----------------------+------------------------------------+--------------------+------------------+-------------+---------------+--------------------+----------------+-----------------+----------------+
|1SWheh84yJXfytovI...|Arizona Biltmore ...|2818 E Camino Ace...|           Phoenix|   AZ|      85016|33.52214|-112.01848|  3.0|         5.0|      0|                 False|                                NA|                    NA|                        NA|               NA|                   NA|                                NA|                           NA|                               NA|                       NA|                    NA|                 NA|              NA|             NA|                NA|                          NA|                                 NA|                            NA|                                   NA|                               NA|                          NA|                         NA|                NA|                       NA|                  NA|                  NA|                   NA|                             NA|                    NA|                    NA|                  NA|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|   Golf, Active Life|                NA|           NA|             NA|                  NA|              NA|               NA|              NA|
|QXAEGFB4oINsVuTFx...|Emerald Chinese R...|30 Eglinton Avenue W|       Mississauga|   ON|    L5R 3E7| 43.6055| -79.65229|  2.5|       128.0|      1|                  True|                              True|     {'dessert': False|        'latenight': False|    'lunch': True|       'dinner': True|                   'brunch': False|          'breakfast': False}|                 {'garage': False|          'street': False|    'validated': False|        'lot': True| 'valet': False}|           True|           u'loud'|                        True|                               True|                             2|                                False|                            False|          {'romantic': False|          'intimate': False|   'classy': False|         'hipster': False|      'divey': False|   'touristy': False|      'trendy': False|               'upscale': False|       'casual': True}|                 False|               u'no'|       u'full_bar'|             u'casual'|                        True|             False|                  NA|                            NA|                    NA|                                  NA|                  NA|                NA|           NA|             NA|                  NA|              NA|               NA|              NA|
|gnKjwL_1w79qoiV3I...|Musashi Japanese ...|10110 Johnston Rd...|         Charlotte|   NC|      28210|35.09256| -80.85913|  4.0|       170.0|      1|                  True|                              True|     {'dessert': False|        'latenight': False|    'lunch': True|       'dinner': True|                   'brunch': False|          'breakfast': False}|                 {'garage': False|          'street': False|    'validated': False|        'lot': True| 'valet': False}|          False|        u'average'|                        True|                               True|                             2|                                False|                             True|          {'romantic': False|          'intimate': False| 'touristy': False|         'hipster': False|      'divey': False|     'classy': False|      'trendy': False|               'upscale': False|       'casual': True}|                  True|               u'no'|  u'beer_and_wine'|              'casual'|                        True|             False|                True|                            NA|                    NA|                                  NA|                  NA|                NA|           NA|             NA|                  NA|              NA|               NA|              NA|
|xvX2CttrVhyG2z1dF...|Farmers Insurance...|15655 W Roosevelt...|          Goodyear|   AZ|      85338|33.45561| -112.3956|  5.0|         3.0|      1|                    NA|                                NA|                    NA|                        NA|               NA|                   NA|                                NA|                           NA|                               NA|                       NA|                    NA|                 NA|              NA|             NA|                NA|                          NA|                                 NA|                            NA|                                   NA|                               NA|                          NA|                         NA|                NA|                       NA|                  NA|                  NA|                   NA|                             NA|                    NA|                    NA|                  NA|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|Insurance, Financ...|          8:0-17:0|     8:0-17:0|       8:0-17:0|            8:0-17:0|        8:0-17:0|               NA|              NA|
|HhyxOkGAM07SRYtlQ...| Queen City Plumbing|4209 Stuart Andre...|         Charlotte|   NC|      28217|35.19001| -80.88722|  4.0|         4.0|      1|                    NA|                                NA|                    NA|                        NA|               NA|                   NA|                                NA|                           NA|                               NA|                       NA|                    NA|                 NA|              NA|             NA|                NA|                          NA|                                 NA|                            NA|                                 True|                            False|                        True|                         NA|                NA|                       NA|                  NA|                  NA|                   NA|                             NA|                    NA|                    NA|                  NA|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|Plumbing, Shoppin...|          7:0-23:0|     7:0-23:0|       7:0-23:0|            7:0-23:0|        7:0-23:0|         7:0-23:0|        7:0-23:0|
|68dUKd8_8liJ7in4a...|       The UPS Store|Credit Valley Tow...|       Mississauga|   ON|    L5V 0B1|43.59948| -79.71158|  2.5|         3.0|      1|                    NA|                                NA|                    NA|          {'garage': False|  'street': False|   'validated': False|                      'lot': False|              'valet': False}|                               NA|                       NA|                    NA|                 NA|               2|             NA|                NA|                          NA|                                 NA|                            NA|                                   NA|                               NA|                          NA|                         NA|                NA|                       NA|                  NA|                  NA|                   NA|                             NA|                    NA|                    NA|                  NA|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|                  NA|                NA|           NA|             NA|Shipping Centers,...|        9:0-19:0|         9:0-20:0|        9:0-20:0|
|5JucpCfHZltJh5r1J...|    Edgeworxx Studio|20 Douglas Woods ...|           Calgary|   AB|    T2Z 1K4|50.94365|-114.00183|  3.5|         7.0|      1|                    NA|                                NA|                    NA|          {'garage': False|  'street': False|   'validated': False|                       'lot': True|              'valet': False}|                               NA|                       NA|                    NA|                 NA|               2|             NA|                NA|                          NA|                                 NA|                            NA|                                   NA|                               NA|                          NA|                         NA|                NA|                       NA|                True|                  NA|                   NA|                             NA|                    NA|                    NA|                  NA|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|                  NA|                NA|           NA|             NA|Beauty & Spas, Ha...|              NA|               NA|              NA|
|gbQN7vr_caG_A1ugS...|           Supercuts|4545 E Tropicana ...|         Las Vegas|   NV|      89121|36.09987|-115.07457|  3.5|         3.0|      1|                  True|                                NA|                    NA|                        NA|               NA|                   NA|                                NA|                           NA|                                3|                       NA|                 False|                 NA|              NA|             NA|                NA|                          NA|                                 NA|                            NA|                                 True|                               NA|                       False|                         NA|                NA|                       NA|                  NA|                  NA|                   NA|                             NA|                    NA|                    NA|                  NA|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|Hair Salons, Hair...|         10:0-19:0|    10:0-19:0|      10:0-19:0|           10:0-19:0|       10:0-19:0|        10:0-19:0|       10:0-18:0|
|Y6iyemLX_oylRpnr3...|Vita Bella Fine D...|5940 W Union Hill...|          Glendale|   AZ|      85308|33.65481|-112.18857|  5.0|         8.0|      0|                    NA|                                NA|                    NA|          {'garage': False|  'street': False|   'validated': False|                       'lot': True|              'valet': False}|                               NA|                       NA|                    NA|                 NA|               2|             NA|             False|                          NA|                                 NA|                            NA|                                   NA|                               NA|                          NA|                         NA|              True|                       NA|                True|                  NA|                   NA|                             NA|                    NA|                    NA|                  NA|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|                  NA|                NA|           NA|             NA|Nail Salons, Beau...|              NA|        12:0-18:0|       10:0-18:0|
|4GBVPIYRvzGh4K4Tk...| Options Salon & Spa|     21689 Lorain Rd|     Fairview Park|   OH|      44126|41.44083|  -81.8541|  4.5|         8.0|      1|                    NA|                                NA|                    NA|          {'garage': False|  'street': False|   'validated': False|                       'lot': True|              'valet': False}|                               NA|                       NA|                    NA|                 NA|               2|             NA|                NA|                          NA|                                 NA|                            NA|                                   NA|                               NA|                          NA|                         NA|              True|                       NA|               False|               False|                   NA|                             NA|                    NA|                    NA|                  NA|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|                  NA|                NA|           NA|             NA|Beauty & Spas, Na...|              NA|         9:0-21:0|        9:0-21:0|
|fcXOEZdXYeZqnQ3lG...|Nucleus Informati...|1210 8th Street S...|           Calgary|   AB|    T2R 1L3|51.04177|-114.08111|  2.0|         5.0|      1|                    NA|                                NA|                    NA|          {'garage': False|   'street': True|   'validated': False|                      'lot': False|              'valet': False}|                               NA|                       NA|                    NA|                 NA|               1|             NA|             False|                          NA|                                 NA|                            NA|                                   NA|                               NA|                          NA|                         NA|                NA|                       NA|               False|                  NA|                   NA|                             NA|                    NA|                    NA|                  NA|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|                  NA|                NA|           NA|             NA|Local Services, P...|        9:0-17:0|         9:0-17:0|        9:0-17:0|
|1Dfx3zM-rW4n-31Ke...|           Taco Bell|2450 E Indian Sch...|           Phoenix|   AZ|      85016|33.49519|-112.02859|  3.0|        18.0|      1|                  True|                             False|                    NA|          {'garage': False|  'street': False|   'validated': False|                      'lot': False|              'valet': False}|                               NA|                       NA|                    NA|               True|               1|          False|                NA|          {'romantic': False|                  'intimate': False|             'touristy': False|                     'hipster': False|                   'divey': False|             'classy': False|            'trendy': False|  'upscale': False|         'casual': False}|               False|               u'no'|              u'none'|                      u'casual'|                  True|                 False|                True|                NA|                    NA|                          NA|                NA|                  NA|                            NA|                    NA|                                  NA|                  NA|                NA|           NA|             NA|                  NA|              NA|               NA|              NA|

In [12]:
#Read yelp checking data
yelp_checkin = spark.read\
  .format('csv')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('s3://bigdataclasslhn/Prj_Yelp/yelp_checkin.csv')

In [10]:
yelp_checkin.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- useful: string (nullable = true)
 |-- funny: string (nullable = true)
 |-- cool: string (nullable = true)
 |-- text: string (nullable = true)
 |-- date: string (nullable = true)

In [9]:
#read yelp checking data
yelp_review = spark.read\
  .format('csv')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('s3://bigdataclasslhn/Prj_Yelp/yelp_review.csv')

In [11]:
yelp_review.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- useful: string (nullable = true)
 |-- funny: string (nullable = true)
 |-- cool: string (nullable = true)
 |-- text: string (nullable = true)
 |-- date: string (nullable = true)

In [30]:
yelp_review.show()

+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+
|           review_id|             user_id|         business_id|               stars|  useful|               funny|                cool|                text|                date|
+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+
|Q1sbwvVQXV2734tPg...|hG7b0MtEbXx5QzbzE...|ujmEBvifdJM6h6RLv...|                   1|       6|                   1|                   0|Total bill for th...| 2013-05-07 04:34:36|
|GJXCdrto3ASJOqKeV...|yXQM5uF2jS6es16SJ...|NZnhc2sEQy3RmzKTZ...|                   5|       0|                   0|                   0|I *adore* Travis ...|                null|
|Travis's greets y...|             not two| but THREE people...| as it's evident ...|    null|                null|                null|                null|                null|
|Next Travis start...|                null|                null|                null|    null|                null|                null|                null|                null|
|              Travis| I will see you e...| 2017-01-14 21:30:33|                null|    null|                null|                null|                null|                null|
|2TzJjDVDEuAW6MR5V...|n6-Gk65cPZL6Uz8qR...|WTqjgwHlXbSFevF32...|                   5|       3|                   0|                   0|I have to say tha...| 2016-11-09 20:09:03|
|yi0R0Ugj_xUx_Nek0...|dacAIZ6fTM6mqwW5u...|ikCg8xy5JIg_NGPx-...|                   5|       0|                   0|                   0|Went in for a lun...|                null|
|Drink prices were...|                null|                null|                null|    null|                null|                null|                null|                null|
|          The Server|                Dawn| was friendly and...|                null|    null|                null|                null|                null|                null|
|        In summation| a great pub expe...| 2018-01-09 20:56:38|                null|    null|                null|                null|                null|                null|
|11a8sVPMUFtaC7_AB...|ssoyf2_x0EQMed6fg...|b1b1eb3uo-w561D0Z...|                   1|       7|                   0|                   0|"Today was my sec...| and under justif...|
|fdiNeiN_hoCxCMy2w...|w31MKYsNFMrjhWxxA...|eU_713ec6fTGNO4Be...|                   4|       0|                   0|                   0|"I'll be the firs...|                null|
|My hubby got the ...|                null|                null|                null|    null|                null|                null|                null|                null|
|                 So-|                null|                null|                null|    null|                null|                null|                null|                null|
|Do order the cala...|                null|                null|                null|    null|                null|                null|                null|                null|
|If they have the ...| I highly recomme...|                null|                null|    null|                null|                null|                null|                null|
|Do make a reserva...| 2013-01-20 13:25:59|                null|                null|    null|                null|                null|                null|                null|
|G7XHMxG0bx9oBJNEC...|jlu4CztcSxrKx56ba...|3fw2X5bZYeW9xCz_z...|                   3|       5|                   4|                   5|Tracy dessert had...|                null|
|Came in for some ...| and I must say t...| which I could ta...|                null|    null|                null|                null|                null|                null|
|A simple taro wit...| it would probabl...| I think I can st...| which is more re...| but wow| more than $5 is ...| it is Tracy Dessert| and they are a l...|                null|
+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [14]:
#read yelp tip data
yelp_tip = spark.read\
  .format('csv')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('s3://bigdataclasslhn/Prj_Yelp/yelp_tip.csv')

In [15]:
yelp_tip.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- text: string (nullable = true)
 |-- date: string (nullable = true)
 |-- compliment_count: string (nullable = true)

In [18]:
yelp_tip.show(100)

+--------------------+--------------------+--------------------+-------------------+----------------+
|             user_id|         business_id|                text|               date|compliment_count|
+--------------------+--------------------+--------------------+-------------------+----------------+
|UPw5DWs_b-e2JRBS-...|VaKXUpmWTTWDKbpJ3...|Great for watchin...|2014-03-27 03:51:24|               0|
|Ocha4kZBHb4JK0lOW...|OPiPeoJiv92rENwbq...|Happy Hour 2-4 da...|2013-05-25 06:00:56|               0|
|jRyO2V1pA4CdVVqCI...|5KheTjYPu1HcQzQFt...|Good chips and sa...|2011-12-26 01:46:17|               0|
|FuTJWFYm4UKqewaos...|TkoyGi8J7YFjA6Sba...|The setting and d...|2014-03-23 21:32:49|               0|
|LUlKtaM3nXd-E4N4u...|AkL6Ous6A1atZejfZ...|Molly is definate...|2012-10-06 00:19:27|               0|
|iAd8XaHxv05iXyEiZ...|kj1p6NwUGROOoqNyS...|It's true! The dr...|2011-12-31 18:02:42|               0|
|w8p4JW6-ERsbg8aB5...|0hudPyuCBlKg79OwK...|Only worth a visi...|2012-10-11 23:06:21|               0|
|CaFbX7topxdLpBJ_S...|r49iBfbnfoK7yt4rd...|Hands down best A...|2016-01-05 06:39:33|               0|
|VLy6l8L72adD7iTBN...|YCRCFBr6myPS49on2...|Sat in the drive ...|2017-03-13 03:29:40|               0|
|zrvk0-B91ahJRSB-U...|RTBIiq-fJUXRsrzbL...|Okay so I had a g...|2013-02-08 20:55:15|               0|
|8zXgNCkusOHMwh5Tj...|qrSsS0pk7SL67MP5n...|More parking in t...|2013-12-22 05:10:12|               0|
|NXXC2iU0o3tDVu6YN...|oGASRzKGpuiP12ilQ...|Best pretzels thi...|2010-03-04 15:41:16|               0|
|DfvT4F5Eqx9Xr3Ei3...|63bHLJUomC22Xdm3I...|Having the yellow...|2011-10-18 18:29:05|               0|
|oIHhfloe5VQamDFDB...|wZhB4U003eg2GQ-F7...|When you receive ...|2016-08-12 22:18:07|               0|
|NEN5RFpZp7DE6K1PK...|Cni2l-VKG_pdospJ6...|2nd stop for the ...|2011-10-09 03:43:39|               0|
|Fzz-0v1yHLaWuTV64...|EZZjaiV8ik05NUepq...|Really delicious ...|2018-02-14 21:35:49|               0|
|CbmNBkKa9QKNxPiN_...|xZfPdAYeimiruXuGR...|            Dinner!!|2011-04-21 22:43:28|               0|
|3KkT6SmPFLGvBS1pn...|D2nfOrnJ2OBlX_428...|Long lines at lun...|2011-12-30 17:10:16|               0|
|kMcz3zQgNjZYV65qY...|C7JaaErXLB3B3486L...|Go somewhere else...|               null|            null|
|                Rude| assuming sales s...|  The black sales...|2013-02-17 06:22:49|               0|
|JnHaPHkRO2_8V-Dys...|j9I2YkFCOKyAEb_3F...|#poutinecrawl #yy...|2011-04-09 18:58:36|               0|
|EZbvMdvCA2D9vF6Vj...|LrO_Xy6lfpbTgFoJc...|I love the gourme...|2015-05-21 01:13:24|               0|
|pDAqvfflIM4AM23VR...|0PVxodALQu-soL5J8...|If there's a more...|2012-07-24 16:24:09|               0|
|gGlFgp4nXNL5azpUt...|cnfYugAYBFKgwDCTA...|                  No|2015-05-29 04:25:09|               0|
|HmILc-lgVKZS7mWNd...|1l7gJx3BVWBZ8Wx1v...|"New Dr Who! He t...|2013-11-30 04:03:27|               0|
|lesnCKZUYH554j-ED...|7sPNbCx7vGAaH7SbN...|Late night burger...|2012-08-02 06:25:54|               0|
|alUuOskFSl1bODjnc...|PEb1Hm0kQ52cObjPA...|Cash only! ATM on...|2014-09-06 23:29:08|               0|
|hf27xTME3EiCp6NL6...|i6G3zsEJIqpGktMWy...|       Holiday party|2013-12-19 21:29:53|               0|
|TYCkjEHPSJSnFb6m6...|XP0YZRa6Un25QaOH2...|oh damn. run do n...|2011-12-30 22:00:46|               0|
|r64WY53LOMRPowHDu...|p-8AMN9Q0qwym-3Pd...| Good mix of cuisine|2017-03-10 19:32:16|               0|
|r5ggPC6OccLk6dDl5...|wyPkRQg3F5Yz2WqRF...|Burgers, salads, ...|2010-12-18 02:00:22|               0|
|8aXyfFUFrypoE6PkU...|PtwW1Hwme8Y0wy54z...|Wonderful food an...|2014-06-07 17:04:01|               0|
|O_GWZZfQx7qv-n-CN...|IzC1oXHT_TxYej_6Y...|Over 100 group fi...|2012-10-16 18:25:20|               0|
|lhPuskGXTRSjCwKOO...|e5Qw3r7mkwPLcdDzZ...|         good stuff!|2011-07-12 20:41:17|               0|
|ZXIOnRHvDUK-corzr...|7jKDOB9b_nijq0-dj...|Tara did a great ...|2016-05-22 00:11:14|               0|
|2EuPAGalYnP7eSxPg...|NqCHqgF_FY0Aw9gD-...|Its open! Lobby c...|2014-06-03 04:23:22|               1|
|ZK6aHHTiNlQWCCmv6...|DkYS3arLOhA8si5uU...|You know I had to...|2012-11-04 03:58:17|               0|
|0FMte0z-repSVWSJ_...|6pSwIh7gbTEpfxDlK...|           PTL time!|2012-05-25 00:05:01|               0|
|uu-gMsKDyKU_9MUIt...|I0f12eU-xFn6Kd_4H...|  Soup was awesome!!|2016-07-30 08:08:12|               0|
|CcJQAZfk6QkaBjPnK...|vYn0gishV27DpfM_l...|Southwestern egg ...|2013-12-11 17:45:51|               0|
|ge72-Ti-WqR3w0YEN...|Lzv68iVkRHstVvW3a...|So far everything...|2015-09-28 00:55:47|               0|
|gtwM4ijo65AN4DvXd...|19umlhmVB9O3njIBf...|Hey mom look at m...|2014-08-24 03:56:50|               1|
|t511fq0nFeppix5_M...|ZhLSAiRj9kANxf8m2...|New Milk Tea Reci...|2017-03-21 22:30:13|               0|
|29yBaTFMSh-l6wNwy...|jaJnPIX9VxsFyfV5z...|Lots of people on...|2011-01-01 23:54:04|               0|
|qvvpeBLkV4Shx0Teh...|XXGzCIcxzAZ6H98mx...|Um. All kinds of ...|2010-04-26 15:34:54|               0|
|R_wlZO-jKFGEVJnSf...|Z15a7_8FQ82_baSJi...|Tons of wing flav...|2012-08-03 21:54:49|               0|
|aoO6EXKupIDDDMMK4...|e7207sqC-pSn6GIf3...| Birthday breakfast!|2013-02-21 13:29:23|               0|
|we_ONmXR0wP5-Ejx9...|JTl1nXrukJTScI0Uz...|Try the green gab...|2016-11-18 20:23:00|               0|
|akUC5qP68u0_frTwH...|IBxD5xo8o3FDquF1d...|Save room for a y...|2013-02-19 20:45:57|               0|
|syA7uYoDjohc7gWBW...|V3U21fM0in_0qpKUM...|15 dollar credit ...|2012-03-19 01:47:32|               0|
|xceJT1G2Yhel3W2lR...|enzgrlkltK3PO-KGg...|  Mani/Pedi for $15.|2012-07-27 19:27:17|               0|
|mEiQo6a56dtSXlZEl...|11fdZ98T5ddYgc12b...|You can order cus...|2017-09-22 06:21:10|               0|
|330erZ8TCzA2eoexQ...|6sKaAF8WhWyyCjfZr...|     Last time... =(|2011-04-07 01:04:16|               0|
|T1jicY-vxpCOTl5SI...|_sOni_t0FvAQuUDBE...|        Busy tonight|2012-03-11 07:31:32|               0|
|OGufU1fcIoHbnoo-u...|B1I54bu8w5MikyFr7...|Dr. Spilotro is t...|2017-06-28 18:06:39|               0|
|2sNEKxKcGaTVBJiok...|Yk7fxB4-8MeFd6HkE...|Super friendly! T...|2014-03-28 19:23:08|               0|
|kkbZPTl9Q4KVwMMBx...|fN_I3jP7RD2llubTv...|Red velvet pancak...|2017-11-17 17:04:26|               0|
|PIaq7y05SdYBqISlN...|FzY_eaGmRAOG1TvLK...|Hurry!  My Hot St...|2011-07-14 23:31:37|               0|
|anHzk1C0oQRtfuDj7...|9a3DrZvpYxVs3k_qw...|           Mama Mia!|2011-07-15 01:26:26|               0|
|N3ELg9zITVB5Ij1Cn...|urWkq22ug6ppT4a6a...|My first time eat...|2016-01-14 00:22:34|               0|
|9uE0smG2bwgkI95RP...|E9aC5bLfXdQVZ5csv...|Green papaya sala...|2012-01-08 21:40:43|               0|
|rNjgVKaBh1PlUA6dY...|zvQIEpJUmLLmMMffN...|Gas price 3.49 re...|2014-06-07 19:16:12|               0|
|tAw16nAiAcAm8V7H1...|OjnRf8yDGEBCoUDdc...|    Yay hushpuppies!|2012-10-06 02:19:39|               0|
|VqBSNxY9nbGdUGZ5f...|fCq3AVUzWDarScN02...|The iced kicker i...|2016-04-17 18:26:57|               0|
|5wT0vDycEzgq95yVC...|sDT7CvVLsPG1JizVd...|Grill marinated p...|2011-04-15 03:38:54|               0|
|Hc2tC2TDMD1wDjp8a...|FgPANtTwZqXB-edLk...|Worst. Mexican. E...|2010-03-13 20:52:19|               0|
|AIHzJz0AvTq0FxCLt...|yNPh5SO-7wr8HPpVC...|Yet another Busin...|2012-03-23 00:07:55|               0|
|evDmfYHbxqDAy8_27...|GHS1rVjO-RMcRB6WJ...|Put lots of sunbl...|2011-07-18 01:49:00|               0|
|_RvEDmpbQZulEdAV5...|xQLs0A2dzgXgJq6K2...|Annoying they don...|2012-01-09 19:46:53|               0|
|FSJDnMPHNOpZrqR1w...|xWcFzMj1ekDoP1pg3...|The toffee and th...|2015-01-12 17:57:03|               0|
|Q6OjHSEwO55rGLo0W...|aWVoSYc6LJLT2FrXf...|Great service, on...|2017-09-19 15:36:33|               0|
|DiGzInTxDfhDGZe2u...|kVXyz0mYd7NaGuGdM...|Great bakery. Awe...|2015-12-31 05:44:31|               0|
|KGQZvfuthc12iq7p_...|EXMLrw5uxng5z-T9Z...|Super nice staff ...|2012-10-06 19:54:17|               0|
|T9xfkjF1R0a_fIjZ-...|Mn6PbumS7GL2v3jPi...|Ohh !!!! This pla...|2013-06-05 01:00:37|               0|
|5G0RQ4kAsBOPSJsKw...|mlkVAm2DkGnKnNVR1...|One of the best l...|2017-06-18 16:59:17|               0|
|vIsEJsMbPGOVsSp04...|Xwf022IffmZPq6V25...|We have 5 chairs ...|2012-05-18 20:39:45|               0|
|RieCsZdS5b_I3p7lB...|7nv7W2ZaY8BJ9KZ-x...|Fuggit-about it i...|2012-07-25 03:35:40|               0|
|AuSB69SSnaPNTwwbF...|bAHDSbpJE3kKJkW9O...|Very nice, helpfu...|2018-03-23 16:57:09|               0|
|40m0541Z_KexYkdvv...|7SJoMX5ti-VoEsEW6...|Amazing talent, b...|2012-10-08 17:44:35|               0|
|pkpzIhX1mNzLLEEyj...|-ME7F1xPHdtyje-Sz...|On their Sunday a...|2015-01-11 16:20:51|               0|
|YB2SZbMgQHBOGOIsB...|maIam6HyU4FB_sBIk...|"If you hit ""max...|2016-08-04 19:10:24|               0|
|li7AtdY322dAqBGic...|1HD5iUUfVJDbfEBIn...|They now have PUD...|2014-09-30 00:36:07|               0|
|SxcN4e5SKNhZ4wfEU...|gY95Q7BVB636-tAcD...|Good Mexican food...|2015-01-11 22:10:08|               0|
|xTHoZ5p6P0SGr3Hh7...|GlRyWZMitKSTLufCP...|        Tip in cash.|2016-11-23 23:16:58|               0|
|KQm9OgdujLZiMRTks...|W9YgQFWP1PkhYq7Nt...|    Remodeling time!|2010-04-24 16:35:01|               0|
|D6iI_B7BFRGrNgDcZ...|9B1ivc2ztvI8XDJ5T...|Terrible service ...|2013-08-24 02:38:49|               0|
|uPDo46xDK_DDqMChG...|6oKZoCI_0ePyzfRqS...|One of my favorit...|2014-06-08 02:20:51|               0|
|wxeTtPILiMl1L-yBB...|1hkksm102yQY1DyfT...|Dinner time! Real...|2011-04-17 00:31:47|               0|
|IMkif9yrPAxj-0-nr...|7sb2FYLS2sejZKxRY...|Be sure to try th...|2014-03-15 04:35:13|               0|
|PcBKCHMhV0pxmYjzG...|Ax2JxfCUjfBkRxcqf...|No PB2 powdered p...|2012-03-12 22:34:09|               0|
|6GJQc7rRKi2AeS1j4...|DgnIqlqYXdeg0UtSR...|Totally AWESOME f...|2015-01-16 03:40:26|               0|
|Ryxj0u0AW3mRsRypd...|2SfSzEd3B7WimeZac...|Delicious food an...|2017-06-19 04:13:21|               0|
|T1jicY-vxpCOTl5SI...|sw3uJ-R5u8_VnJ_Rr...|Better than the o...|2012-08-05 23:25:05|               1|
|DBTa2O0kM6MqwP6IO...|CqVdLcbyZzfAjeCD1...|Permanantly close...|2014-03-16 20:45:34|               2|
|BqAMAM9wkjUyOJzqY...|bNqBMZ00lnhhfxzV8...|Southern BBQ in M...|2013-06-01 20:30:47|               0|
|cCtB72I6FfLDcU7Zk...|PVdy4harWpqcqQZH8...| Closed for business|2012-07-22 01:25:31|               0|
|uS6-ArpRRwk768bRc...|nwHd2MbIGz0SNG8Gp...|Taco Tuesday, AGA...|2017-09-19 19:20:36|               0|
|iyhqoE49PTX2VNITz...|-UWSsdJMRYU7L2Upy...|They not only che...|2012-01-03 18:09:12|               0|
|PuCMCx8LvgUWgZhnt...|X-b4-QvZLENnf3yFw...|Sundays are so mu...|2014-06-07 20:30:18|               0|
|_5uUOcTyKK1pQYwAL...|6qDRqHWqf0EeHupSU...|Not open on Sunda...|2014-08-25 18:23:14|               0|
+--------------------+--------------------+--------------------+-------------------+----------------+
only showing top 100 rows

In [19]:
yelp_review.select(yelp_review.countDistinct("business_id")).show()

AttributeError: 'DataFrame' object has no attribute 'countDistinct'

In [21]:
yelp_review.select("business_id").distinct().count()

1305397

In [22]:
yelp_business.select("business_id").distinct().count()

192609

In [23]:
yelp_review['business_id'].unique()

TypeError: 'Column' object is not callable

In [24]:
import pandas as pd

In [27]:
yelp_review.toPandas()['business_id'].nunique()

696310

In [29]:
yelp_business.toPandas()['business_id'].nunique()

192609

In [31]:
yelp_review.select("text").show()

+--------------------+
|                text|
+--------------------+
|Total bill for th...|
|I *adore* Travis ...|
|                null|
|                null|
|                null|
|I have to say tha...|
|Went in for a lun...|
|                null|
|                null|
|                null|
|"Today was my sec...|
|"I'll be the firs...|
|                null|
|                null|
|                null|
|                null|
|                null|
|Tracy dessert had...|
|                null|
| and they are a l...|
+--------------------+
only showing top 20 rows

In [33]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [39]:
yelp_review_id=yelp_review.withColumn("uniqueID",monotonically_increasing_id())

In [ ]:
df.na.drop().show()

In [40]:
yelp_review_id.select("text","uniqueID").show()

+--------------------+--------+
|                text|uniqueID|
+--------------------+--------+
|Total bill for th...|       0|
|I *adore* Travis ...|       1|
|                null|       2|
|                null|       3|
|                null|       4|
|I have to say tha...|       5|
|Went in for a lun...|       6|
|                null|       7|
|                null|       8|
|                null|       9|
|"Today was my sec...|      10|
|"I'll be the firs...|      11|
|                null|      12|
|                null|      13|
|                null|      14|
|                null|      15|
|                null|      16|
|Tracy dessert had...|      17|
|                null|      18|
| and they are a l...|      19|
+--------------------+--------+
only showing top 20 rows

In [41]:
yelp_review_id2=yelp_review_id.select("text","uniqueID")

In [42]:
yelp_review_id3=yelp_review_id2.na.drop()

In [43]:
yelp_review_id3.show()

+--------------------+--------+
|                text|uniqueID|
+--------------------+--------+
|Total bill for th...|       0|
|I *adore* Travis ...|       1|
|I have to say tha...|       5|
|Went in for a lun...|       6|
|"Today was my sec...|      10|
|"I'll be the firs...|      11|
|Tracy dessert had...|      17|
| and they are a l...|      19|
|This place has go...|      22|
|"I was really loo...|      26|
|It's a giant Best...|      34|
|Like walking back...|      35|
|Walked in around ...|      38|
|Wow. So surprised...|      39|
|Michael from Red ...|      44|
|I cannot believe ...|      45|
|You can't really ...|      46|
|Great lunch today...|      47|
|"I love chinese f...|      48|
|We've been a huge...|      54|
+--------------------+--------+
only showing top 20 rows

In [44]:
yelp_review_id.groupBy('stars').agg(count('uniqueID').alias('count')).sort('stars').show()

+--------------------+-------+
|               stars|  count|
+--------------------+-------+
|                null|2456555|
|                    |    212|
|                    |     14|
|                    |      1|
|                 :)"|      1|
|     and he takes...|      1|
|           12pm-6pm |      1|
|    and invested ...|      1|
|    connoli and m...|      1|
|     whatever works)|      1|
|             'right'|      1|
|   (He had 3 brai...|      1|
|   (He had 3 brai...|      1|
|   3 different em...|      1|
|      Charlie Palmer|      1|
|    Due to an injury|      1|
|   Eg a male in a...|      1|
|             Finally|      1|
|   I could drink ...|      1|
|   I enjoyed hang...|      1|
+--------------------+-------+
only showing top 20 rows

In [46]:
peopleDF = spark.read.json("s3://bigdataclasslhn/Prj_Yelp/yelp_academic_dataset_business.json")

In [47]:
peopleDF .printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [48]:
peopleDF.toPandas()['business_id'].nunique()

/usr/lib/spark/python/pyspark/sql/dataframe.py:2102: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.enabled' is set to true; however, failed by the reason below:
  Unsupported type in conversion to Arrow: StructType(List(StructField(AcceptsInsurance,StringType,true),StructField(AgesAllowed,StringType,true),StructField(Alcohol,StringType,true),StructField(Ambience,StringType,true),StructField(BYOB,StringType,true),StructField(BYOBCorkage,StringType,true),StructField(BestNights,StringType,true),StructField(BikeParking,StringType,true),StructField(BusinessAcceptsBitcoin,StringType,true),StructField(BusinessAcceptsCreditCards,StringType,true),StructField(BusinessParking,StringType,true),StructField(ByAppointmentOnly,StringType,true),StructField(Caters,StringType,true),StructField(CoatCheck,StringType,true),StructField(Corkage,StringType,true),StructField(DietaryRestrictions,StringType,true),StructField(DogsAllowed,StringType,true),StructField(DriveThru,StringType,true),StructField(GoodForDancing,StringType,true),StructField(GoodForKids,StringType,true),StructField(GoodForMeal,StringType,true),StructField(HairSpecializesIn,StringType,true),StructField(HappyHour,StringType,true),StructField(HasTV,StringType,true),StructField(Music,StringType,true),StructField(NoiseLevel,StringType,true),StructField(Open24Hours,StringType,true),StructField(OutdoorSeating,StringType,true),StructField(RestaurantsAttire,StringType,true),StructField(RestaurantsCounterService,StringType,true),StructField(RestaurantsDelivery,StringType,true),StructField(RestaurantsGoodForGroups,StringType,true),StructField(RestaurantsPriceRange2,StringType,true),StructField(RestaurantsReservations,StringType,true),StructField(RestaurantsTableService,StringType,true),StructField(RestaurantsTakeOut,StringType,true),StructField(Smoking,StringType,true),StructField(WheelchairAccessible,StringType,true),StructField(WiFi,StringType,true)))
Attempting non-optimization as 'spark.sql.execution.arrow.fallback.enabled' is set to true.
  warnings.warn(msg)

192609

In [49]:
peopleDF.show()

+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|              city|               hours|is_open|     latitude|      longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|2818 E Camino Ace...|[,,,,,,,,,,,,,,,,...|1SWheh84yJXfytovI...|   Golf, Active Life|           Phoenix|                null|      0|   33.5221425|   -112.0184807|Arizona Biltmore ...|      85016|           5|  3.0|   AZ|
|30 Eglinton Avenue W|[,, u'full_bar', ...|QXAEGFB4oINsVuTFx...|Specialty Food, R...|       Mississauga|[9:0-1:0, 9:0-0:0...|      1|43.6054989743|  -79.652288909|Emerald Chinese R...|    L5R 3E7|         128|  2.5|   ON|
|10110 Johnston Rd...|[,, u'beer_and_wi...|gnKjwL_1w79qoiV3I...|Sushi Bars, Resta...|         Charlotte|[17:30-22:0, 17:3...|      1|    35.092564|     -80.859132|Musashi Japanese ...|      28210|         170|  4.0|   NC|
|15655 W Roosevelt...|                null|xvX2CttrVhyG2z1dF...|Insurance, Financ...|          Goodyear|[8:0-17:0, 8:0-17...|      1|33.4556129678|-112.3955963552|Farmers Insurance...|      85338|           3|  5.0|   AZ|
|4209 Stuart Andre...|[,,,,,,,, False, ...|HhyxOkGAM07SRYtlQ...|Plumbing, Shoppin...|         Charlotte|[7:0-23:0, 7:0-23...|      1|   35.1900119|    -80.8872232| Queen City Plumbing|      28217|           4|  4.0|   NC|
|Credit Valley Tow...|[,,,,,,,,,, {'gar...|68dUKd8_8liJ7in4a...|Shipping Centers,...|       Mississauga|[9:0-19:0, 9:0-19...|      1|   43.5994753|    -79.7115835|       The UPS Store|    L5V 0B1|           3|  2.5|   ON|
|20 Douglas Woods ...|[,,,,,,,,,, {'gar...|5JucpCfHZltJh5r1J...|Beauty & Spas, Ha...|           Calgary|                null|      1|   50.9436456|   -114.0018283|    Edgeworxx Studio|    T2Z 1K4|           7|  3.5|   AB|
|4545 E Tropicana ...|[,,,,,,, False,, ...|gbQN7vr_caG_A1ugS...|Hair Salons, Hair...|         Las Vegas|[10:0-19:0, 10:0-...|      1|    36.099872|    -115.074574|           Supercuts|      89121|           3|  3.5|   NV|
|5940 W Union Hill...|[,,,,,,, False,, ...|Y6iyemLX_oylRpnr3...|Nail Salons, Beau...|          Glendale|[10:0-17:0,, 10:0...|      0|   33.6548146|   -112.1885676|Vita Bella Fine D...|      85308|           8|  5.0|   AZ|
|     21689 Lorain Rd|[False,,,,,,,,, T...|4GBVPIYRvzGh4K4Tk...|Beauty & Spas, Na...|     Fairview Park|[9:0-19:0,, 9:0-1...|      1|41.4408252653| -81.8540965503| Options Salon & Spa|      44126|           8|  4.5|   OH|
|1210 8th Street S...|[,,,,,,, False,,,...|fcXOEZdXYeZqnQ3lG...|Local Services, P...|           Calgary|[9:0-17:0, 9:0-17...|      1|    51.041771|    -114.081109|Nucleus Informati...|    T2R 1L3|           5|  2.0|   AB|
|2450 E Indian Sch...|[,, u'none', {'ro...|1Dfx3zM-rW4n-31Ke...|Restaurants, Brea...|           Phoenix|[7:0-1:0, 7:0-0:0...|      1|   33.4951941|   -112.0285876|           Taco Bell|      85016|          18|  3.0|   AZ|
|119 Landings Dr, ...|[,, 'beer_and_win...|5t3KVdMnFgAYmSl1w...|Bars, Nightlife, ...|       Mooresville|[10:0-1:0, 10:0-1...|      1|35.5274098057| -80.8680032061|The Kilted Buffal...|      28117|           9|  3.5|   NC|
|     5981 Andrews Rd|[,, u'none', None...|fweCYi8FmbJXHCqLn...|Italian, Restaura...|Mentor-on-the-Lake|[10:0-1:0, 10:0-0...|      1|     41.70852|     -81.359556|       Marco's Pizza|      44060|          16|  4.0|   OH|
|        4145 Erie St|[,,,,,,,,, True, ...|-K4gAv8_vjx8-2Bxk...|      Bakeries, Food|        Willoughby|[11:0-17:0,, 10:0...|      1|   41.6398599|    -81.4063963|          Baby Cakes|      44094|           7|  3.0|   OH|
|    1455 16th Avenue|[,,,,,,, True,,, ...|A98xW4qb7vOTguggH...|Fitness & Instruc...|     Richmond Hill|[16:0-21:30, 16:0...|      1| 43.861502576| -79.3884991854|   Hot Yoga Wellness|    L4B 3G6|           4|  4.0|   ON|
|4848 E Cactus Rd,...|[,,,,,,,,, True, ...|giC3pVVFxCRR89rAp...|Hair Stylists, Be...|        Scottsdale|[8:0-17:0, 0:0-0:...|      1|    33.600071|    -111.977371|          Knot Salon|      85254|           5|  5.0|   AZ|
|1775 E Tropicana ...|[,, u'full_bar', ...|PZ-LZzSlhSe9utkQY...|Restaurants, Italian|         Las Vegas|                null|      0|   36.1000163|   -115.1285285|Carluccio's Tivol...|      89119|          40|  4.0|   NV|
|                    |[,,,,,,,,, True,,...|nh_kQ16QAoXWwqZ05...|Event Planning & ...|         Las Vegas|[0:0-0:0, 0:0-0:0...|      1|   36.1165487|   -115.0881146|Myron Hensel Phot...|      89121|          21|  5.0|   NV|
|445 King Street W...|[True,,,,,,,,,,, ...|zSpQmEBvRe3IhTUlM...|Trainers, Health ...|           Toronto|[6:0-22:0, 6:0-22...|      1|   43.6450415|    -79.3957986|  Totum Life Science|    M5V 1K4|          23|  4.0|   ON|
+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [50]:
review = spark.read.json("s3://bigdataclasslhn/Prj_Yelp/yelp_academic_dataset_review.json")

In [51]:
review .printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

In [ ]:
review .printSchema()

In [64]:
review.select("review_id").show()

+--------------------+
|           review_id|
+--------------------+
|Q1sbwvVQXV2734tPg...|
|GJXCdrto3ASJOqKeV...|
|Travis's greets y...|
|Next Travis start...|
|              Travis|
|2TzJjDVDEuAW6MR5V...|
|yi0R0Ugj_xUx_Nek0...|
|Drink prices were...|
|          The Server|
|        In summation|
|11a8sVPMUFtaC7_AB...|
|fdiNeiN_hoCxCMy2w...|
|My hubby got the ...|
|                 So-|
|Do order the cala...|
|If they have the ...|
|Do make a reserva...|
|G7XHMxG0bx9oBJNEC...|
|Came in for some ...|
|A simple taro wit...|
+--------------------+
only showing top 20 rows

In [63]:
review.select("stars").show()

+--------------------+
|               stars|
+--------------------+
|                   1|
|                   5|
| as it's evident ...|
|                null|
|                null|
|                   5|
|                   5|
|                null|
|                null|
|                null|
|                   1|
|                   4|
|                null|
|                null|
|                null|
|                null|
|                null|
|                   3|
|                null|
| which is more re...|
+--------------------+
only showing top 20 rows

In [54]:
review.groupBy('stars').agg(count('uniqueID').alias('count')).sort('stars').show()

+--------------------+-------+
|               stars|  count|
+--------------------+-------+
|                null|2456555|
|                    |    212|
|                    |     14|
|                    |      1|
|                 :)"|      1|
|     and he takes...|      1|
|           12pm-6pm |      1|
|    and invested ...|      1|
|    connoli and m...|      1|
|     whatever works)|      1|
|             'right'|      1|
|   (He had 3 brai...|      1|
|   (He had 3 brai...|      1|
|   3 different em...|      1|
|      Charlie Palmer|      1|
|    Due to an injury|      1|
|   Eg a male in a...|      1|
|             Finally|      1|
|   I could drink ...|      1|
|   I enjoyed hang...|      1|
+--------------------+-------+
only showing top 20 rows

In [53]:
review=yelp_review.withColumn("uniqueID",monotonically_increasing_id())

In [ ]:
yelp_review = spark.read.json('../input/yelp_academic_dataset_review.json')

In [79]:
#Read yelp tip data
yelp_review= spark.read\
  .format('csv')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('s3://bigdataclasslhn/Prj_Yelp/review1.csv')

In [80]:
yelp_review.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- useful: string (nullable = true)
 |-- funny: string (nullable = true)
 |-- cool: string (nullable = true)
 |-- text: string (nullable = true)
 |-- date: string (nullable = true)

In [ ]:
yelp_review.grou

In [82]:
yelp_review.groupBy('stars').agg(count('review_id').alias('count')).sort('stars').show()

+--------------------+-------+
|               stars|  count|
+--------------------+-------+
|                null|1825384|
|                    |    134|
|                    |     12|
|                    |      1|
|      a search to...|      0|
|     For my two s...|      2|
|     this is NOT ...|      1|
|    SHAMROCK IS T...|      1|
|      great food .."|      0|
|    the restauran...|      0|
|   A you like rav...|      1|
|   Ehren's commis...|      1|
|   Flat breads an...|      1|
|   Hostess pleasa...|      1|
|   I got a half o...|      1|
|   Mexican smooth...|      1|
|   My kids and I ...|      1|
|   Prime Rib cook...|      1|
|   a Big family p...|      0|
|   all well. Then...|      1|
+--------------------+-------+
only showing top 20 rows

In [57]:
yelp_review.show()

+----------------------------------------------------------------+
|	review_id	user_id	business_id	stars	useful	funny	cool	text	date|
+----------------------------------------------------------------+
|                                            0	Q1sbwvVQXV2734t...|
|                                            1	GJXCdrto3ASJOqK...|
|                                            Travis's greets y...|
|                                            Next Travis start...|
|                                                          Travis|
|                                            2	2TzJjDVDEuAW6MR...|
|                                            3	yi0R0Ugj_xUx_Ne...|
|                                            Drink prices were...|
|                                                      The Server|
|                                                    In summation|
|                                            4	11a8sVPMUFtaC7_...|
|                                            5	fdiNeiN_hoCxCMy...|
|                                            My hubby got the ...|
|                                                             So-|
|                                            Do order the cala...|
|                                            If they have the ...|
|                                            Do make a reserva...|
|                                            6	G7XHMxG0bx9oBJN...|
|                                            Came in for some ...|
|                                            A simple taro wit...|
+----------------------------------------------------------------+
only showing top 20 rows

In [ ]:
review=yelp_review.withColumn("uniqueID",monotonically_increasing_id())

In [ ]:
Macintosh HD/UsersjiaqichenDownloads

In [72]:
# Loads RDD
lines = sc.textFile("s3://bigdataclasslhn/Prj_Yelp/review1.csv")

In [ ]:
# Loads RDD
lines = sc.textFile("s3://bigdataclasslhn/Prj_Yelp/review.csv")
# Split lines into columns; change split() argument depending on deliminiter e.g. '\t'
parts = lines.map(lambda l: l.split(','))
# Convert RDD into DataFrame
df = spark.createDataFrame(parts, ['review_id','user_id','business_id','stars','useful','funny','cool','text','date'])

In [59]:
from pyspark import SparkContext 
from pyspark.sql import SQLContext

In [66]:
sqlc=SQLContext(sc)

In [ ]:
s3://bigdataclasslhn/Prj_Yelp/review.csv

In [67]:
lines = sc.textFile("s3://bigdataclasslhn/Prj_Yelp/review.csv")

In [73]:
parts = lines.map(lambda l: l.split(','))

In [74]:
parts.take(5)

[['',
  'review_id',
  'user_id',
  'business_id',
  'stars',
  'useful',
  'funny',
  'cool',
  'text',
  'date'],
 ['0',
  'Q1sbwvVQXV2734tPgoKj4Q',
  'hG7b0MtEbXx5QzbzE6C_VA',
  'ujmEBvifdJM6h6RLv4wQIg',
  '1',
  '6',
  '1',
  '0',
  'Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.',
  '2013-05-07 04:34:36'],
 ['1',
  'GJXCdrto3ASJOqKeVWPi6Q',
  'yXQM5uF2jS6es16SJzNHfg',
  'NZnhc2sEQy3RmzKTZnqtwQ',
  '5',
  '0',
  '0',
  '0',
  '"I *adore* Travis at the Hard Rock\'s new Kelly Cardenas Salon!  I\'m always a fan of a great blowout and no stranger to the chains that offer this service; however',
  ' Travis has taken the flawless blowout to a whole new level!  '],
 [''],
 ["Travis's greets you with his perfectly green swoosh in his otherwise perfectly styled black hair and a Vegas-worthy rockstar outfit.  Next comes the most relaxing and incredible shampoo -- where you get a full head message that could cure even the very worst migraine in minutes --- and the scented shampoo room.  Travis has freakishly strong fingers (in a good way) and use the perfect amount of pressure.  That was superb!  Then starts the glorious blowout... where not one",
  ' not two',
  ' but THREE people were involved in doing the best round-brush action my hair has ever seen.  The team of stylists clearly gets along extremely well',
  " as it's evident from the way they talk to and help one another that it's really genuine and not some corporate requirement.  It was so much fun to be there! "]]

In [75]:
# Convert RDD into DataFrame
df = spark.createDataFrame(parts, ['ID','review_id','user_id','business_id','stars','useful','funny','cool','text','date'])

In [77]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- useful: string (nullable = true)
 |-- funny: string (nullable = true)
 |-- cool: string (nullable = true)
 |-- text: string (nullable = true)
 |-- date: string (nullable = true)

In [81]:
df.groupBy('stars').agg(count('review_id').alias('count')).sort('stars').show()

Py4JJavaError: An error occurred while calling o462.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 17 in stage 52.0 failed 4 times, most recent failure: Lost task 17.3 in stage 52.0 (TID 1474, ip-172-31-53-57.ec2.internal, executor 17): java.lang.IllegalStateException: Input row doesn't have expected number of values required by the schema. 10 fields are required while 1 values are provided.
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$makeFromJava$15$$anonfun$apply$15.applyOrElse(EvaluatePython.scala:184)
	at org.apache.spark.sql.execution.python.EvaluatePython$.org$apache$spark$sql$execution$python$EvaluatePython$$nullSafeConvert(EvaluatePython.scala:208)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$makeFromJava$15.apply(EvaluatePython.scala:180)
	at org.apache.spark.sql.SparkSession$$anonfun$6$$anonfun$apply$5.apply(SparkSession.scala:752)
	at org.apache.spark.sql.SparkSession$$anonfun$6$$anonfun$apply$5.apply(SparkSession.scala:752)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:410)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:410)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.agg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:55)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:2041)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:2029)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:2028)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2028)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:966)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:966)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:966)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2262)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2211)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2200)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:777)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2158)
	at org.apache.spark.rdd.RDD$$anonfun$reduce$1.apply(RDD.scala:1035)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.reduce(RDD.scala:1017)
	at org.apache.spark.rdd.RDD$$anonfun$takeOrdered$1.apply(RDD.scala:1439)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.takeOrdered(RDD.scala:1426)
	at org.apache.spark.sql.execution.TakeOrderedAndProjectExec.executeCollect(limit.scala:136)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3383)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2758)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.IllegalStateException: Input row doesn't have expected number of values required by the schema. 10 fields are required while 1 values are provided.
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$makeFromJava$15$$anonfun$apply$15.applyOrElse(EvaluatePython.scala:184)
	at org.apache.spark.sql.execution.python.EvaluatePython$.org$apache$spark$sql$execution$python$EvaluatePython$$nullSafeConvert(EvaluatePython.scala:208)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$makeFromJava$15.apply(EvaluatePython.scala:180)
	at org.apache.spark.sql.SparkSession$$anonfun$6$$anonfun$apply$5.apply(SparkSession.scala:752)
	at org.apache.spark.sql.SparkSession$$anonfun$6$$anonfun$apply$5.apply(SparkSession.scala:752)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:410)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:410)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.agg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:55)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [ ]:
df = spark.createDataFrame(parts, ['sepal_length','sepal_width','petal_length','petal_width','class'])

In [62]:
df=pd.read_csv('s3://bigdataclasslhn/Prj_Yelp/review.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

In [ ]:



df=pd.read_csv('rs3://bigdataclasslhn/Prj_Yelp/review.csv') 
sdf=sqlc.createDataFrame(df)

In [65]:
sc = spark.sparkContext